In [1]:
#QUESTION 1

In [11]:
#The comment code in python can be done by 2 ways

"""
1) by using # or hashtag and
2) by using triple quotes 

"""
print (" (i)how to write comments")
'''
There are two type of comments 
1) SINGLE LINE COMMENT
2) MULTIPLE LINE COMMENTS
'''
print ("(ii)types of comments")

 (i)how to write comments
(ii)types of comments

In [10]:
#QUESTION 2

In [12]:
'''
Variables are used to store the data or a variable.
The name act as a container in which data or value can be stored.
'''
#EXAMPLE
Name = ['swastik', 'pwskill']

In [13]:
Name

['swastik', 'pwskill']

In [17]:
#for assigning variable
'''
give any name to the variable like:
'''
#example 1
course = ("data science")

#exmple 2
cl = ("time")

#example 3
my_name = ("Swastik guptsa")

#example 4
my_age = (21)

In [19]:
course

'data science'

In [20]:
cl

'time'

In [21]:
my_name

'Swastik guptsa'

In [22]:
my_age

21

In [26]:
#question 3

In [27]:
#we can concvert one data type into another ny using constructor function.

l = ("10")

In [28]:
#converet into integer

l = int("10")

In [29]:
l

10

In [30]:
l = float(10)

In [31]:
l

10.0

In [32]:
l = str(10)

In [33]:
l

'10'

In [34]:
l = bool(10)

In [35]:
l

True

In [36]:
#convert list into tuple and sets

my_class = ["datascience", "3pm", "swastik"]

In [37]:
#in tuple
tuple_myclass = tuple(my_class)

In [38]:
tuple_myclass

('datascience', '3pm', 'swastik')

In [39]:
#into sets
set_myclass = set(my_class)

In [40]:
set_myclass

{'3pm', 'datascience', 'swastik'}

In [42]:
#dictionary
person = [("name", "swastik"), ("age", 21)]
person_dict = dict(person)

In [43]:
person_dict

{'name': 'swastik', 'age': 21}

In [44]:
#QUESTION 4

In [46]:
'''
open notepad or code writer such as; vs code, jupyter notebook etc.
then write your code and save the code by giving .py extention
EXAMPLE :- datascience.py
and save it
'''
print('execute code')
#here how we write and execute code

execute code

In [47]:
#QUESTION 5

In [48]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [49]:
#QUESTIONN 6

#IMAGINARY NO.
'''
a complex number is a number that can be expressed in the
form a + bi, where a and b are real numbers,
and i is the imaginary number.
'''

#IN PYTHON
complex_number = (3+7j) #by puttin "j" as an imaginiary no.

In [52]:
#QUESTION 7

age = 25
print("correct way")

correct way

In [53]:
#QUESTION 8

price = 9.99

In [54]:
#type of variable price

type(price)

float

In [56]:
#QUESTION 9

name = ("Swasstik Gupta")

In [57]:
name

'Swasstik Gupta'

In [2]:
#QUESTION 10

In [4]:
string = ("hello, world ")

In [5]:
string(1)

TypeError: 'str' object is not callable